<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - EasyTest</title>
</head>
<style>
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 2em;
}

section {
    margin: auto;
    padding: 20px;
    font-family: cursive;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 1.5em;
}

li {
    margin-bottom: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}

a:hover {
    text-decoration: underline;
}

.create-test {
    margin-top: 20px;
}

.create-test a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.create-test a:hover {
    background-color: #45a049;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #1920e1;
}

@media (max-width: 768px) {
    header,
    section {
        margin: 10px;
        padding: 10px;
        font-size: 1.5em;
    }

    .create-test a,
    .logout-btn {
        font-size: 1em;
        padding: 10px 20px;
    }
}

</style>

<body>
    <header>
        <h1>Welcome, <%= username %>!</h1>
        
    </header>

    <section>
        <h2>Your Tests:</h2>
        <% for (let i = 0; i < tests.length; i++) { %>
            <a href="/view_test/<%= tests[i]._id %>">
                <div>
                    <h2><%= tests[i].testName %></h2>
                    <h3><%= tests[i].questions.length %> Questions</h3>
                </div>
            </a>
        <% } %>
        <div class="create-test">
            <a href="/views/createatest.ejs">Create New Test</a>
        </div>

        <a href="/logout">Logout</a>
        <div class="create-test">
            
        </div>
    </section>
</body>

</html>