<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyTest - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
        color: #343a40;
    }

    header {
        background-color: #3498db;
        padding: 40px;
        text-align: center;
    }

    section {
        margin: 40px;
        padding: 40px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        border-radius: 8px;
    }

    h1 {
        color: #ffffff;
        font-size: 4.0em;
        margin-bottom: 20px;
    }

    h2 {
        color: #ffffff;
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    p {
        color: #3498db;
        font-size: 1.8em;
        margin-bottom: 40px;
    }

    a {
        display: inline-block;
        padding: 20px 40px;
        font-size: 1.5em;
        text-decoration: none;
        color: #fff;
        background-color: #3498db;
        border-radius: 8px;
        transition: background-color 0.3s;
        margin: 0 10px;
    }

    a:hover {
        background-color: #217dbb;
    }

    .secure-testing-section {
        margin-top: 40px;
        padding: 40px;
        background-color: #3498db;
        color: #fff;
        border-radius: 8px;
        text-align: center;
    }

    .feature-icon {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .feature-list {
        list-style: none;
        padding: 0;
        margin-top: 20px;
    }

    .feature-list li {
        font-size: 1.8em;
        margin-bottom: 10px;
    }
</style>

<body>
    <header>
        <h1>EasyTest</h1>
    </header>

    <section>
        <p>Create unique exams to prevent cheating and foster a fair testing environment.</p>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
        <div class="secure-testing-section">
            <span class="feature-icon"><i class="fas fa-shield-alt"></i></span>
            <h2>Secure Testing with EasyTest</h2>
            <ul class="feature-list">
                <li>Randomized Question Orders</li>
                <li>Foster a Fair Testing Environment</li>
                <li>Low Cost: $8 per month for Teachers</li>
            </ul>
        </div>
    </section>
</body>

</html>